@import "../../../../styles/themes/custom-palette.scss";

.history {
	box-sizing: border-box;
	padding: 24px 40px 24px 40px;
	height: 100%;
	width: 100%;
	position: relative;

	.loader {
		position: absolute;
		top: 50%;
		left: 48%;
	}
	//    margin: 0% 20%;

	.vl {
		border-left: 4px solid map-get($mat-bs-accent, 700);
		margin-left: -3px;
	}
	.scroll-container {
		//height: 100%;
		//	overflow-y: scroll;
		height: 700px;
		overflow-y: scroll;
		.last {
			margin-bottom: 24px;
		}
		.appointment-segment {
			padding: 0px;
			box-sizing: border-box;
			border: 1px solid map-get($mat-bs-accent, 700);
			border-radius: 4px;
			width: 100%;
			height: 100%;
			overflow-x: auto;
		}
		.circle {
			position: relative;
			height: 100%;
			.date {
				position: absolute;
				top: 44%;
				z-index: 40000;
				left: 5%;
			}
			.line {
				position: absolute;
				top: 50%;
				border-right: 2px dashed map-get($mat-bs-accent, 700);
				height: 100%;
				//	margin-bottom: -60px;
			}
		}
	}
}

:host {
	width: 100%;
}
