@import "../utils/variables";

.page-header-1{
    font-family: $custom-font-family;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
}

.page-header-2{
    font-family: $custom-font-family;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}