@import "../../../../styles/themes/custom-palette.scss";
@import "../../../../styles/utils/variables";
@import "../../../../styles/shared/page-header.scss";
@import "../../../../styles/utils/spacing";
@import "../../../../styles/utils/singletone";

.appointment-list{
    padding : 40px ;

    .search-filter-container{
        position: relative;
        .search{
            background-color: white;
            box-sizing: border-box;
            padding: 4px 8px;
            border-radius: 4px;
            input{
                border : 0px;
            }
           
        }
        .filter{
            position: absolute;
            top : 50px;
            right: 0px;
            min-width: 200px;
            border-radius: 4px;
            border: 1px solid #dcdde0;
            background-color: white;
            min-height: 200px;
            padding: 16px;
            z-index: 1000;
        }

    }

}

.status-box{
    padding : 4px 8px;
    border-radius: 4px;
}

.ongoing{
    background-color: map-get($mat-bs-accent , 300 );
    color: white;
}

.resolved{
    background-color: map-get($mat-bs-success , light );
    color: white;
}

.pending{
    background-color: map-get($mat-bs-warn , 400 );
    color: white;
}

.online{
    background-color: map-get($mat-bs-success , dark );
    color: white;
}
.offline{

    background-color: map-get($mat-bs-error , dark );;
    color: white;
}