@import "../../../../styles/themes/custom-palette.scss";
@import "../../../../styles/utils/variables";
@import "../../../../styles/shared/page-header.scss";
@import "../../../../styles/utils/spacing";
@import "../../../../styles/utils/singletone";

.appointment-list{
    padding : 40px ;

    .search-filter-container{
        position: relative;
        .search{
            background-color: white;
            box-sizing: border-box;
            padding: 4px 8px;
            input{
                border : 0px;
            }
           
        }
        .filter{
            position: absolute;
            top : 50px;
            background-color: white;
            min-height: 200px;
            padding: 16px;
            z-index: 1000;
        }

    }

}