<div fxLayout="column" fxLayoutAlign="start start" class="w-100-p capsule-generic-item">
    <div class="w-100-p title-box">
        {{'SIX_IN_ONE_HEALTH_MONITOR' | translate}}
    </div>

    <div *ngIf="capsuleData" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px" class="body">
        <ng-container *ngFor="let data of capsuleData">
            <div [ngSwitch]="data.type">
                <ng-container *ngSwitchCase="'plain'">
                    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start start" class="ecg">
                        <div *ngIf="data && data.labelKey" class="label">{{ $any(data.labelKey) | translate}} &nbsp; :
                            &nbsp; </div>
                        <div *ngIf="data" class="value">{{data.value }}</div>
                    </div>
                </ng-container>

                <ng-container *ngSwitchCase="'template'">
                    <ng-container [ngTemplateOutlet]="$any(data.customTemplate)"></ng-container>
                </ng-container>

            </div>
        </ng-container>
    </div>

</div>