<div fxLayout="column" fxLayoutAlign="start start" class="w-100-p capsule-generic-item">
    <div class="w-100-p title-box">
        {{'SIX_IN_ONE_HEALTH_MONITOR' | translate}}
    </div>

    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px" class="body">
        <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start start" class="ecg">
            <div class="label">ECG</div>
            <div class="value">xyz.pdf</div>
            <div>view pdf</div>
        </div>
        <div class="spo2">

        </div>
        <div class="temparature">

        </div>
        <div class="bp">

        </div>

        <div class="heart-rate">

        </div>
        <div class="glucose-monitor">

        </div>
    </div>
</div>