<div fxLayout="column" fxLayoutAlign="start start" class="w-100-p capsule-generic-item">
    <div class="w-100-p title-box">
        {{ title | translate}}
    </div>

    <div *ngIf="capsuleData;else empty" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px" class="body">
        <ng-container *ngFor="let data of capsuleData">
            <div [ngSwitch]="data.type">
                <ng-container *ngSwitchCase="'plain'">
                    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start start" class="ecg">
                        <div *ngIf="data && data.labelKey" class="label">{{ $any(data.labelKey) | translate}} 
                        </div>

                        <div *ngIf="data && data.labelKey">:</div>
                        
                        <div *ngIf="data && data.value!=null && data.value!==undefined && data.value !=='' ; else empty" class="value">{{data.value }}</div>
                    </div>
                </ng-container>

                <ng-container *ngSwitchCase="'template'">
                    <ng-container [ngTemplateOutlet]="$any(data.customTemplate)"
                        [ngTemplateOutletContext]="{ value : data.value }"></ng-container>
                </ng-container>

            </div>
        </ng-container>
    </div>


</div>

<ng-template #empty>
   <div class="value"> N/A</div>
</ng-template>