<div  fxLayout="column"  fxLayoutGap="16px" fxLayoutAlign="start center" class="otp-container">

    <form  *ngIf="!timeOver" (ngSubmit)="otpForm.valid && verifyOtpAndSignup()" [formGroup]="otpForm">

        <div fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="start center">
            <div class="mt-16 page-header-2">{{"PLEASE_ENTER_OTP_SENT_TO" | translate}}</div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">

                <mat-form-field [ngStyle.xs]="{'width' : '50px'}" [ngStyle.sm]="{'width': '80px'}" >
                    <input autocomplete="off" ngClass.xs="fs-20" ngClass.sm="fs-28" ngClass="fs-36" (paste)="false" #firstBox
                        formControlName="first" (keydown)="onKeyDown($event)" required="true" maxlength="1" matInput
                        type="text">
                </mat-form-field>
                <mat-form-field  [ngStyle.xs]="{'width' : '50px'}" [ngStyle.sm]="{'width': '80px'}">
                    <input autocomplete="off"  ngClass.xs="fs-20" ngClass.sm="fs-28" ngClass="fs-36" (paste)="false" #secondBox
                        formControlName="second" (keydown)="onKeyDown($event)" required="true" maxlength="1" matInput
                        type="text">
                </mat-form-field>
                <mat-form-field  [ngStyle.xs]="{'width' : '50px'}" [ngStyle.sm]="{'width': '80px'}">
                    <input autocomplete="off"  ngClass.xs="fs-20" ngClass.sm="fs-28" ngClass="fs-36" (paste)="false" #thirdBox
                        formControlName="third" (keydown)="onKeyDown($event)" required="true" maxlength="1" matInput
                        type="text">
                </mat-form-field>
                <mat-form-field  [ngStyle.xs]="{'width' : '50px'}" [ngStyle.sm]="{'width': '80px'}">
                    <input autocomplete="off"  ngClass.xs="fs-20" ngClass.sm="fs-28" ngClass="fs-36" (paste)="false" #fourthBox
                        formControlName="fourth" (keydown)="onKeyDown($event)" required="true" maxlength="1" matInput
                        type="text">
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
                <button [disabled]="otpForm.invalid || resendOtpLoading || verifyLoading" 
                type="submit" mat-raised-button 
                color="primary"
                (click)="verifyOtpAndSignup()"
                >{{'VERIFY' | translate}}</button>
                <mat-spinner diameter="20" *ngIf="verifyLoading"></mat-spinner>
            </div>
          
            
        </div>
    </form>


    <div *ngIf="!timeOver && count>-1" class="page-header-3">
        Your OTP will expire in <span style="color: red">{{count}}s</span>.
    </div>
    
    <div class="page-header-3" *ngIf="timeOver">
        Your OTP has been expired. 
    </div>

    <div class="w-100-p" fxLayout="row"   fxLayoutGap="16px" fxLayoutAlign="center center">
        <div>
            {{'NOT_RECEIVED_CODE_YET' | translate}}
        </div>

        <button [disabled]="resendOtpLoading || verifyLoading" (click)="resendOTP()" mat-button color="primary">{{ "RESEND_OTP" | translate}} </button>
        <mat-spinner diameter="20" *ngIf="resendOtpLoading"></mat-spinner>
    </div>

</div>