<div class="otp-container">

    <form (ngSubmit)="otpForm.valid && verifyOtp(otpForm.value)" [formGroup]="otpForm">

        <div fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="start center">
            <div class="mt-16">{{"PLEASE_ENTER_OTP_SENT_TO" | translate}}</div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">

                <mat-form-field [ngStyle.xs]="{'width' : '50px'}" [ngStyle.sm]="{'width': '80px'}" >
                    <input autocomplete="off" ngClass.xs="fs-20" ngClass.sm="fs-28" ngClass="fs-36" (paste)="false" #firstBox
                        formControlName="first" (keydown)="onKeyDown($event)" required="true" maxlength="1" matInput
                        type="text">
                </mat-form-field>
                <mat-form-field  [ngStyle.xs]="{'width' : '50px'}" [ngStyle.sm]="{'width': '80px'}">
                    <input autocomplete="off"  ngClass.xs="fs-20" ngClass.sm="fs-28" ngClass="fs-36" (paste)="false" #secondBox
                        formControlName="second" (keydown)="onKeyDown($event)" required="true" maxlength="1" matInput
                        type="text">
                </mat-form-field>
                <mat-form-field  [ngStyle.xs]="{'width' : '50px'}" [ngStyle.sm]="{'width': '80px'}">
                    <input autocomplete="off"  ngClass.xs="fs-20" ngClass.sm="fs-28" ngClass="fs-36" (paste)="false" #thirdBox
                        formControlName="third" (keydown)="onKeyDown($event)" required="true" maxlength="1" matInput
                        type="text">
                </mat-form-field>
                <mat-form-field  [ngStyle.xs]="{'width' : '50px'}" [ngStyle.sm]="{'width': '80px'}">
                    <input autocomplete="off"  ngClass.xs="fs-20" ngClass.sm="fs-28" ngClass="fs-36" (paste)="false" #fourthBox
                        formControlName="fourth" (keydown)="onKeyDown($event)" required="true" maxlength="1" matInput
                        type="text">
                </mat-form-field>

            </div>

            <button [disabled]="otpForm.invalid" type="submit" mat-raised-button color="primary">Verify</button>

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                    {{'NOT_RECEIVED_CODE_YET' | translate}}
                </div>

                <button mat-button color="primary">{{ "RESEND_OTP" | translate}} </button>
            </div>
        </div>
    </form>
</div>