<div class="tm-media-player" *ngIf="src">

    <vg-player>
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>

        <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-controls>
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>

            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

            <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

            <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

            <vg-track-selector></vg-track-selector>
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>

            <vg-fullscreen></vg-fullscreen>
        </vg-controls>


        <video *ngIf="type === 'video'" [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" crossorigin>
            <source [src]="src" type="video/mp4">
            <!-- <source src="http://static.videogular.com/assets/videos/videogular.ogg" type="video/ogg">
                <source src="http://static.videogular.com/assets/videos/videogular.webm" type="video/webm">
        
                <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt"
                    srclang="en" default>
                <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt"
                    srclang="es"> -->
        </video>
        <video *ngIf="type ==='audio'" [vgMedia]="$any(media)" #media id="singleAudio" preload="auto" crossorigin>
            <source [src]="src" type="audio/wav">
        </video>
    </vg-player>

</div>

<div fxLayout="row" fxLayoutAlign="center center" class="media-loader" *ngIf="loading">
    <mat-spinner diameter="40"></mat-spinner>
</div>

<div fxLayout="row" fxLayoutAlign="center center" style="color : red; font-size : 14px " *ngIf="!(loading && src)"
    class="tm-pdf-viewer-loader">
    {{"NO_MEDIA_FILE_FOUND" | translate}}
</div>