<div class="general-info-form-wrapper" ngClass.lt-md="pt-5 pb-5 pl-15 pr-15" ngClass.gt-sm="pt-10 pb-10 pl-40 pr-40" >
    <div fxLayout="column" fxLayoutGap="16px" class="photo-uploader-container">
        <div class="page-header-2">Profile Picture</div>
        
        <img  width="128" height="128" src="assets/images/user.png" alt="">
        <app-photo-uploader class="uploader">
                
        </app-photo-uploader>
    </div>

    <form  class="general-info-form" [formGroup]="generalInfoForm">
        <div fxLayout.xs="column" fxLayout="row" fxLayoutGap.gt-xs="16px" fxLayoutALign="start start" class="form-field-pairs">
            <mat-form-field appearance="outline"  class="w-100-p form-field">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First name" formControlName="FirstName" required>
            </mat-form-field>
         
            <mat-form-field appearance="outline" class="w-100-p">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last name" formControlName="LastName" required>
            </mat-form-field>
          
        </div>
    
        <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="16px" fxLayoutALign="start start" class="form-field-pairs">
            <mat-form-field appearance="outline" class="w-100-p">
                <mat-label>Gender</mat-label>
                <input matInput placeholder="Gender" formControlName="Gender" required>
            </mat-form-field>
    
            <mat-form-field appearance="outline"  class="w-100-p">
                <mat-label>Date Of Birth</mat-label>
                <input matInput placeholder="Gender" formControlName="DateOfBirth" required>
            </mat-form-field>
    
        </div>
    
        <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="16px" fxLayoutALign="start start" class="form-field-pairs">
            <mat-form-field appearance="outline" class="w-100-p">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="Email" required>
            </mat-form-field>
    
            <mat-form-field appearance="outline"  class="w-100-p">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Phone Number" formControlName="PhoneNumber" required>
            </mat-form-field>
    
        </div>
      
        <div>
            <mat-form-field appearance="outline"  class="w-100-p">
                <mat-label>NID</mat-label>
                <input matInput placeholder="NID" formControlName="NID" required>
            </mat-form-field>
        
        </div>

        <div style="display: none;">
            <mat-form-field appearance="outline"  class="w-100-p">
                <input matInput  formControlName="FakeNidFrontPartControl" required>
            </mat-form-field>
            <mat-form-field appearance="outline"  class="w-100-p">
                <input matInput  formControlName="FakeNidBackPartControl" required>
            </mat-form-field>
        
        </div>

    </form>

    <div class="w-100-p" fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign="start"  fxLayoutGap="16px" *ngIf="NidFrontPartUploadDataContext && NidBackPartUploadDataContext">
        <app-file-uploader fxFlex="100"   class="w-100-p" (onSuccessfulFileUpload)="onNidFrontPartUpload($event)" [config]="NidFrontPartUploadConfig" [dataContext]="NidFrontPartUploadDataContext"></app-file-uploader>
        <app-file-uploader fxFlex="100" class="w-100-p" (onSuccessfulFileUpload)="onNidBackPartUpload($event)" [config]="NidBackPartUploadConfig" [dataContext]="NidBackPartUploadDataContext"></app-file-uploader>
    </div>
</div>
