@import "../../../../styles/themes/custom-palette.scss";
@import "../../../../styles/utils/variables";
@import "../../../../styles/shared/page-header.scss";
@import "../../../../styles/utils/spacing";
@import "../../../../styles/utils/singletone";
@import "../../../../styles/shared/appointment";
.feedback-container {
	width: 100%;
	padding: 16px;
	box-sizing: border-box;

	.add-more-doc-btn-valid {
		background-color: map-get($mat-bs-primary, 500);
		color: white;
	}

	.add-more-doc-btn-invalid {
		background-color: map-get($mat-bs-primary, 500);
		color: $light-disabled-text;
	}
	.close-btn {
		margin-top: -20px;
	}
}

.legend{
	width: 8px;
	height: 8px;
	border-radius: 2px;
	padding: 2px 8px;
}


:host {
	width: 100%;
}
