<div class="feedback-container">
    <form [formGroup]="feedbackForm">
        <div fxLayout="column">


            <div fxLayout="column" fxLayoutGap.gt-xs="4px" fxLayoutALign="start start" class="w-100-p pt-10">

                <ng-container formArrayName="PrescribedMedicines">
                    <ng-container *ngFor="let document  of MedicineFormArray.controls;let i=index">
                        <div class="w-100-p" [formGroup]="findMedicineFormGroupAt(i)">
                            <div class="page-header-4 mb-10" ngClass.xs="mb-10">{{"MEDICINE" | translate}} {{i+1}} :
                            </div>
                            <div class="w-100-p" fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign="start"
                                fxLayoutGap="16px">

                                <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="center center"
                                    fxLayoutGap.gt-xs="8px" class="form-field-pairs w-100-p">

                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'MEDICINE_NAME' | translate}}</mat-label>
                                        <input type="text" matInput formControlName="Name">
                                        <!-- <mat-error
                                            *ngIf="hasError(findMedicineFormGroupAt(i).controls['Name'] )">
                                            <span
                                                *ngIf="findMedicineFormGroupAt(i).controls['Name']?.errors?.['required']">{{"THIS_FIELD_REQUIRED"
                                                |translate}}</span>
                                        </mat-error> -->
                                    </mat-form-field>


                                    <div class=" w-100-p">
                                        <mat-form-field appearance="outline" class="w-100-p">
                                            <mat-label>{{'MEDICINE_INSTRUCTION' | translate}}</mat-label>
                                            <input type="text" matInput formControlName="Instruction" />
                                            <!-- <mat-error
                                                *ngIf="hasError(findMedicineFormGroupAt(i).controls['Instruction'] )">
                                                <span
                                                    *ngIf="findMedicineFormGroupAt(i).controls['Instruction']?.errors?.['required']">{{"THIS_FIELD_REQUIRED"
                                                    |translate}}</span>
                                            </mat-error> -->


                                        </mat-form-field>

                                    </div>

                                    <div class="close-btn">
                                        <button [disabled]="MedicineFormArray.controls.length<2" mat-icon-button
                                            (click)="removeOption(i)">
                                            <mat-icon>remove</mat-icon>
                                        </button>
                                    </div>

                                </div>

                            </div>


                        </div>
                        <mat-divider class="w-100-p"></mat-divider>
                    </ng-container>
                </ng-container>
                <div style="text-align: center;" class="w-100-p mt-10">
                    <button [disabled]="MedicineFormArray.invalid"
                        (click)="$event.preventDefault(); onAddNewMedicineToArray()"
                        [class.add-more-doc-btn-valid]="MedicineFormArray.valid"
                        [class.add-more-doc-btn-invalid]="MedicineFormArray.invalid" mat-icon-button>
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>

            <mat-form-field class="mt-16" appearance="outline">
                <mat-label>{{"PRESCRIBED_TESTS" | translate}}</mat-label>
                <mat-select formControlName="PrescribedTests" multiple>
                    <mat-option *ngFor="let test of neededMedicalTestList" [value]="test.value">
                        {{test.key | translate}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="w-100-p">
                <div fxLayout="row" fxLayoutAlign="space-between" class="w-100-p page-header-5">
                    <div>
                        {{"ADDITIONAL_COMMENT" | translate}}
                    </div>
                    <div>
                        {{FormControls['AdditionalComment'].value.length}}/
                        250
                    </div>
                </div>
                <mat-form-field class="w-100-p" appearance="outline">

                    <mat-label>{{"ADDITIONAL_COMMENT" | translate}}</mat-label>

                    <textarea maxlength="250" matInput formControlName="AdditionalComment"></textarea>
                    <mat-error *ngIf="hasError(FormControls['AdditionalComment'] )">
                        <span *ngIf="FormControls['AdditionalComment']?.errors?.['maxlength']">{{"MAX_LENGTH_EXCEEDS"
                            |translate}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <!--Ecg and Heart  condtion-->

            <div class="w-100-p" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutGap="16px">
                <div class="w-100-p">
                    <mat-form-field class="w-100-p" appearance="outline">
                        <mat-label>{{"ECG_CONDITION" | translate}}</mat-label>
                        <mat-select formControlName="EcgCondition" required>
                            <mat-option *ngFor="let condition of ecgConditons" [value]="condition.value">
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <span>{{condition.key | translate}}</span>
                                    <span [ngClass]="['legend',condition.value]"></span>
                                </div>
                               
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError(FormControls['EcgCondition'] )">
                            <span *ngIf="FormControls['EcgCondition']?.errors?.['required']">{{"THIS_FIELD_REQUIRED"
                                |translate}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="w-100-p">
                    <mat-form-field class="w-100-p" appearance="outline">
                        <mat-label>{{"HEART_CONDITION" | translate}}</mat-label>
                        <mat-select formControlName="HeartCondition" required>
                            <mat-option *ngFor="let condition of heartConditions" [value]="condition.value">
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <span>{{condition.key | translate}}</span>
                                    <span [ngClass]="['legend',condition.value]"></span>
                                </div>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError(FormControls['HeartCondition'] )">
                            <span *ngIf="FormControls['HeartCondition']?.errors?.['required']">{{"THIS_FIELD_REQUIRED"
                                |translate}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>

            <!--Lung  and otoscope  condtion-->

            <div class="w-100-p" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutGap="16px">
                <div class="w-100-p">
                    <mat-form-field class="w-100-p" appearance="outline">
                        <mat-label>{{"LUNG_CONDITION" | translate}}</mat-label>
                        <mat-select formControlName="LungConition" required>
                            <mat-option *ngFor="let condition of lungConditions" [value]="condition.value">
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <span>{{condition.key | translate}}</span>
                                    <span [ngClass]="['legend',condition.value]"></span>
                                </div>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError(FormControls['LungConition'] )">
                            <span *ngIf="FormControls['LungConition']?.errors?.['required']">{{"THIS_FIELD_REQUIRED"
                                |translate}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="w-100-p">
                    <mat-form-field class="w-100-p" appearance="outline">
                        <mat-label>{{"OTOSCOPE_CONDITION" | translate}}</mat-label>
                        <mat-select formControlName="OtoscopeConition" required>
                            <mat-option *ngFor="let condition of otoscopeConditions" [value]="condition.value">
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <span>{{condition.key | translate}}</span>
                                    <span [ngClass]="['legend',condition.value]"></span>
                                </div>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError(FormControls['OtoscopeConition'] )">
                            <span *ngIf="FormControls['OtoscopeConition']?.errors?.['required']">{{"THIS_FIELD_REQUIRED"
                                |translate}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>


            <!--follow up days  && Overall Helath COndition-->
            <div class="w-100-p" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutGap="16px">
                <div class="w-100-p">
                    <mat-form-field class="w-100-p" appearance="outline">
                        <mat-label>{{"OVERALL_HEALTH_CONDITION" | translate}}</mat-label>
                        <mat-select formControlName="PatientCondition" required>
                            <mat-option *ngFor="let condition of overallHealthConditionTypes" [value]="condition.value">
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <span>{{condition.key | translate}}</span>
                                    <span [ngClass]="['legend',condition.value]"></span>
                                </div>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError(FormControls['PatientCondition'] )">
                            <span *ngIf="FormControls['PatientCondition']?.errors?.['required']">{{"THIS_FIELD_REQUIRED"
                                |translate}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <mat-form-field class="w-100-p" appearance="outline">
                        <mat-label>{{"FOLLOW_UP_DAYS" | translate}}</mat-label>
                        <input matInput formControlName="FollowUpAfter" type="number">
                    </mat-form-field>
                    <div>{{'DAYS' | translate}}</div>
                </div>
            </div>


            <div class="w-100-p" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
                <button [disabled]="loading || feedbackForm.invalid" color="primary" mat-raised-button
                    (click)="submitFeedback()">{{'SUBMIT_FEEDBACK' | translate}}</button>
                <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
            </div>
        </div>
    </form>
</div>