@import "../../../../styles/themes/custom-palette.scss";
@import "../../../../styles/utils/variables";
@import "../../../../styles/shared/page-header.scss";
@import "../../../../styles/utils/spacing";
@import "../../../../styles/utils/singletone";

.details {
	padding: 40px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	//overflow-y: scroll;

	.applicant-name {
		font-weight: bold;
		font-size: 20px;
	}

	.data-tab {
		background-color: white;
		
	}
}

:host {
	height: 100%;
}

.feedback-dialog {
	height: 100%;
	width: 100%;
}
