<div class="w-100-p details" fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="start start">
    <mat-progress-bar mode="indeterminate" *ngIf="detailsLoading"></mat-progress-bar>
    <div *ngIf="currentAppointmentDetails" fxLayout="row" fxLayoutAlign="space-between center"
        class="w-100-p top-header">

        <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="center center">
            <button class="back-btn" (click)="goBackToListPage()" mat-icon-button>
                <mat-icon style="font-size: 32px;">keyboard_arrow_left</mat-icon>
            </button>
            <div class="applicant-name"> {{currentAppointmentDetails.applicantDisplayName}}</div>
        </div>
        <div fxLayout.xs="column" fxLayoutAlign.xs="end center" fxLayout="row" fxLayoutAlign="start start"
            fxLayoutGap="6px">
            <!-- <button mat-raised-button color="primary">{{"RESOLVE" | translate}}</button> -->
            <button [disabled]="currentAppointmentDetails.status ==='Resolved'" mat-raised-button color="accent"
                (click)="onFeedback()">{{"FEEDBACK" | translate}}</button>
        </div>
    </div>

    <div class="w-100-p data-tab">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab [label]="'CURRENT_DATA' | translate">

                <div class="current-data">
                    <app-appointment-capsule *ngIf="currentAppointmentDetails"
                        [appointmentData]="currentAppointmentDetails"></app-appointment-capsule>
                </div>


            </mat-tab>
            <mat-tab [label]="'HISTORY'|translate">
                <div fxLayout="column" fxLayoutAlign="center center" class="history w-100-p">
                    <app-applicant-appointment-history [applicantUserId]="applicantUserId"
                        [appointmentId]="appointmentId"></app-applicant-appointment-history>
                </div>
            </mat-tab>

        </mat-tab-group>

    </div>



    <!-- <button (click)="showPdf()" mat-button>load pdf</button>
    <button (click)="playVideo()" mat-button>load video</button> -->


</div>


<ng-template #videoDialog>
    <app-tm-media-player class="w-100-p"></app-tm-media-player>
</ng-template>


<ng-template #feedbackDialog>

    <app-appointment-feedback [applicantInfo]="applicantInfo"></app-appointment-feedback>

</ng-template>