
@import "../../../../../../styles/utils/variables";
@import "../../../../../../styles/themes/custom-palette.scss";
@import "../../../../../../styles/shared/page-header.scss";
@import "../../../../../../styles/utils/spacing";
@import "../../../../../../styles/utils/singletone";
@import "../../../../../../styles/shared/snackbar-custom.style.scss";

.custom-toast{
    
}