<div class="general-info-form-wrapper" ngClass.lt-md="pt-5 pb-5 pl-15 pr-15" ngClass.gt-sm="pt-10 pb-10 pl-40 pr-40">
	<div fxLayout="column" fxLayoutGap="16px" class="photo-uploader-container">
		<div class="page-header-2">{{ "PROFILE_PICTURE" | translate }}</div>
		<img width="128" height="128" [src]="profilePictureSrc" alt="" />
		<mat-spinner class="photo-upload-spinner" diameter="20" *ngIf="profilePicUploading"></mat-spinner>
		<app-photo-uploader (upload)="onProfilePictureUpload($event)"
			(emitErrorMessages)="onProfilePictureUploadErrorMessageEmit($event)" 
			(fileDelete)="onProfilePictureDelete($event)"
			[config]="ProfilePictureUploadConfig" 
			[dataContext]="ProfilePictureUploadDataContext"
			(preview)="PreviewUplaodedProfilePicture($event)" 
			(actionInProgressEmitter)="profilePicUploading=$event"
			class="uploader">
		</app-photo-uploader>
		
		<ng-container *ngIf="profilePictureErrors && profilePictureErrors.length">
			<div class="mb-16">
				<div class="profile-pic-upload-error" *ngFor="let error of profilePictureErrors">
					{{error | translate}}
				</div>
			</div>
		</ng-container>
	</div>

	<button mat-button (click)="autoPopulateForm()">Auto populate</button>
	<form class="general-info-form" [formGroup]="generalInfoForm">
		<div fxLayout.xs="column" fxLayout="row" fxLayoutGap.gt-xs="16px" fxLayoutALign="start start"
			class="form-field-pairs">
			<mat-form-field appearance="outline" class="w-100-p form-field">
				<mat-label> {{ "FIRST_NAME" | translate }} </mat-label>
				<input matInput [placeholder]="'FIRST_NAME' | translate" formControlName="FirstName" required />
				<mat-error *ngIf="hasError(FormControls['FirstName'])">
					<span *ngIf="FormControls['FirstName']?.errors?.['required']">{{ "THIS_FIELD_REQUIRED" | translate
						}}</span>
				</mat-error>
			</mat-form-field>

			<mat-form-field appearance="outline" class="w-100-p">
				<mat-label>{{ "LAST_NAME" | translate }}</mat-label>
				<input matInput [placeholder]="'LAST_NAME' | translate" formControlName="LastName" required />
				<mat-error *ngIf="hasError(FormControls['LastName'])">
					<span *ngIf="FormControls['LastName']?.errors?.['required']">{{ "THIS_FIELD_REQUIRED" | translate
						}}</span>
				</mat-error>
			</mat-form-field>
		</div>

		<div fxLayout.xs="column" fxLayout="row" fxLayoutGap="16px" fxLayoutALign="start start"
			class="form-field-pairs">
			<mat-form-field appearance="outline" class="w-100-p">
				<mat-label>{{ "GENDER" | translate }}</mat-label>
				<mat-select formControlName="Gender">
					<mat-option *ngFor="let gender of genders" [value]="gender.Value">
						{{ gender.Key | translate }}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="hasError(FormControls['Gender'])">
					<span *ngIf="FormControls['Gender']?.errors?.['required']">{{ "THIS_FIELD_REQUIRED" | translate
						}}</span>
				</mat-error>
			</mat-form-field>

			<mat-form-field class="w-100-p" appearance="outline">
				<mat-label>{{ "DATE_OF_BIRTH" | translate }}</mat-label>
				<input matInput formControlName="DateOfBirth" [matDatepicker]="birthDayPicker" />
				<mat-hint>MM/DD/YYYY</mat-hint>
				<mat-datepicker-toggle matSuffix [for]="birthDayPicker"></mat-datepicker-toggle>
				<mat-datepicker #birthDayPicker></mat-datepicker>
				<mat-error *ngIf="hasError(FormControls['DateOfBirth'])">
					<span *ngIf="FormControls['DateOfBirth']?.errors?.['required']">{{ "THIS_FIELD_REQUIRED" | translate
						}}</span>
				</mat-error>
			</mat-form-field>
		</div>

		<div fxLayout.xs="column" fxLayout="row" fxLayoutGap="16px" fxLayoutALign="start start"
			class="form-field-pairs">
			<mat-form-field appearance="outline" class="w-100-p">
				<mat-label>{{ "EMAIL" | translate }}</mat-label>
				<input matInput type="email" [placeholder]="'EMAIL' | translate" formControlName="Email" required />
				<mat-error *ngIf="hasError(FormControls['Email'])">
					<span *ngIf="FormControls['Email']?.errors?.['required']">{{
						"THIS_FIELD_REQUIRED" | translate
						}}</span>
					<span
						*ngIf="FormControls['Email']?.errors?.['pattern'] || FormControls['Email']?.errors?.['email']">
						{{ "PLEASE_ENTER_VALID_MAIL" | translate }}
					</span>
				</mat-error>
			</mat-form-field>

			<mat-form-field floatLabel="always" appearance="outline" class="w-100-p">
				<mat-label>{{ "PHONE_NUMBER" | translate }}</mat-label>
				<input matInput [placeholder]="'PHONE_NUMBER' | translate" formControlName="PhoneNumber" required />
				<span matPrefix>+880 &nbsp;</span>
				<mat-error *ngIf="hasError(FormControls['PhoneNumber'])">
					<span *ngIf="FormControls['PhoneNumber']?.errors?.['required']">{{ "THIS_FIELD_REQUIRED" | translate
						}}</span>
					<span *ngIf="FormControls['PhoneNumber']?.errors?.['pattern'] 
					|| FormControls['PhoneNumber']?.errors?.['minlength'] 
					|| FormControls['PhoneNumber']?.errors?.['maxlength']">
						please enter a valid phone number</span>
				</mat-error>
			</mat-form-field>
		</div>

		<div fxLayout="column" formGroupName="PasswordGroup" class="w-100-p">
			<div class="fs-10" [ngClass.gt-xs]="{ 'w-50-p': true }">
				{{ "PASSWORD_CONSTRAINTS" | translate }}
			</div>
			<div fxLayout.xs="column" fxLayout="row" fxLayoutGap="16px" fxLayoutALign="start start"
				class="form-field-pairs pass-group" class="w-100-p">
				<mat-form-field appearance="outline" class="w-100-p">
					<mat-label>{{
						"Password" | uppercase | translate
						}}</mat-label>
					<input matInput type="password" [placeholder]="'Password' | translate" formControlName="Password"
						required />
					<mat-error *ngIf="hasError(PasswordFormGroup['Password'])">
						<span *ngIf="PasswordFormGroup['Password']?.errors?.['required']">{{ "THIS_FIELD_REQUIRED" |
							translate }}</span>
						<span *ngIf="PasswordFormGroup['Password']?.errors?.['pattern']">{{
							"PASSWORD_CONSTRAINTS_FAILED" | translate
							}}</span>
					</mat-error>
				</mat-form-field>

				<mat-form-field floatLabel="always" appearance="outline" class="w-100-p">
					<mat-label>
						{{ "CONFIRM_PASSWORD" | translate }}
					</mat-label>
					<input matInput [placeholder]="'CONFIRM_PASSWORD' | translate" type="password"
						formControlName="ConfirmPassword" required />
					<mat-error>
						<span *ngIf="PasswordFormGroup['ConfirmPassword']?.errors?.['required']">{{
							"THIS_FIELD_REQUIRED" | translate }}</span>
						<span *ngIf="PasswordFormGroup['ConfirmPassword']?.errors?.['notmatched']">
							{{ "PASSWORD_NOT_MATCHED" | translate }}
						</span>
					</mat-error>
				</mat-form-field>
			</div>
		</div>

		<div>
			<mat-form-field appearance="outline" class="w-100-p">
				<mat-label> {{ "NID_NUMBER" | translate }} </mat-label>
				<input matInput [placeholder]="'NID_NUMBER' | translate" formControlName="NidNumber" required />
				<mat-error *ngIf="hasError(FormControls['NidNumber'])">
					<span *ngIf="FormControls['NidNumber']?.errors?.['required']">{{ "THIS_FIELD_REQUIRED" | translate
						}}</span>
					<span *ngIf="FormControls['NidNumber']?.errors?.['pattern']">
						{{ "ENTER_VALID_NID_NUMBER" }}
					</span>
				</mat-error>
			</mat-form-field>
		</div>

		<div>
			<mat-form-field appearance="outline" class="w-100-p">
				<input style="display: none" matInput formControlName="FakeNidFrontPartControl" required />
				<mat-error *ngIf="hasError(FormControls['FakeNidFrontPartControl'])">
					<span *ngIf="FormControls['FakeNidFrontPartControl']?.errors?.['required']">{{ "THIS_FIELD_REQUIRED"
						| translate }}</span>
				</mat-error>
				<div class="w-100-p">
					<app-file-uploader 
						class="w-100-p" 
						(upload)="onNidFrontPartUpload($event)"
						(delete)="onNidFrontPartDelete($event)" 
						[config]="NidFrontPartUploadConfig"
						[dataContext]="NidFrontPartUploadDataContext">
					</app-file-uploader>
				</div>
			</mat-form-field>

			<mat-form-field appearance="outline" class="w-100-p">
				<input style="display: none" matInput formControlName="FakeNidBackPartControl" required />
				<mat-error *ngIf="hasError(FormControls['FakeNidBackPartControl'])">
					<span *ngIf="FormControls['FakeNidBackPartControl']?.errors?.['required']">{{ "THIS_FIELD_REQUIRED"
						| translate }}</span>
				</mat-error>
				<div class="w-100-p" fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px"
					*ngIf="
						NidFrontPartUploadDataContext &&
						NidBackPartUploadDataContext
					">
					<div class="w-100-p">
						<app-file-uploader 
							(upload)="onNidBackPartUpload($event)"
							(delete)="onNidBackPartDelete($event)" 
							[config]="NidBackPartUploadConfig"
							[dataContext]="NidBackPartUploadDataContext">
						</app-file-uploader>
					</div>
				</div>
			</mat-form-field>
		</div>
	</form>
</div>