<div class="w-100-p" fxLayoutGap="16px" fxLayout="column" fxLayoutAlign="start start">
    <div class="w-100-p" fxLayout="row" fxLayoutAlign="space-between center">
        <button (click)="onClose()" color="warn" mat-button>{{'CANCEL' | translate}}</button>
        <div fxLayout="row" fxLayoutGap="4px">
            <button (click)="onClearAll()"  mat-button>{{'CLEAR_ALL' | translate}}</button>
            <button (click)="onApply()" color="primary" mat-button>{{'APPLY' | translate}}</button>
        </div>
    </div>
	<form  [formGroup]="filterForm" class="w-100-p">
		<div class="w-100-p" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
			<div class="w-100-p dropdown">
				<div class="page-header-5 mb-4">{{'SERVICE_TYPE' | translate}}</div>
				<mat-form-field class="w-100-p" appearance="outline">
					<mat-label>{{'SERVICE_TYPE' | translate}}</mat-label> 
					<mat-select formControlName="AppointmentType">
						<mat-option
							*ngFor="let type of typeList"
							[value]="type"
						>
							{{ type | uppercase | translate }}
						</mat-option>
					</mat-select>
					<button mat-icon-button (click)="$event.stopPropagation();clearDropdown('AppointmentType')" class="cross-over-dropdown"><mat-icon>close</mat-icon></button>
				</mat-form-field>
			</div>
            <div class="w-100-p dropdown">
                <div class="page-header-5 mb-4">{{'SERVICE_STATUS' | translate}}</div>
				<mat-form-field class="w-100-p" appearance="outline">
					<mat-label>{{'SERVICE_STATUS' | translate}}</mat-label>
					<mat-select formControlName="AppointmentStatus">
						<mat-option
							*ngFor="let status of statusList"
							[value]="status"
						>
							{{ status | uppercase | translate }}
						</mat-option>
						
					</mat-select>
					<button mat-icon-button (click)="$event.stopPropagation();clearDropdown('AppointmentStatus')" class="cross-over-dropdown"><mat-icon>close</mat-icon></button>
				</mat-form-field>
			</div>
		</div>
	</form>
</div>
