@import "../../../../../../styles/utils/variables";
@import "../../../../../../styles/themes/custom-palette.scss";
@import "../../../../../../styles/shared/page-header.scss";
@import "../../../../../../styles/utils/spacing";
@import "../../../../../../styles/utils/singletone";
@import "../../../../../../styles/shared/snackbar-custom.style.scss";

.custom-dialog {
	width: fit-content;
	height: 100%;
	box-sizing: border-box;
	overflow: auto;

	.dialog-header {
		box-sizing: border-box;
		padding: 8px 24px;
		background-color: map-get($mat-bs-primary, 700);
		color: white;
		position: sticky;
		position: -webkit-sticky;
		z-index: 1000;
		top: 0;
	}
	.body {
		overflow: auto;
	}
}

::ng-deep {
	mat-dialog-container {
		padding: 0px !important;
	}
}
