<div class="w-100-p custom-dialog" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="start start">
    <ng-container *ngIf="data.defaultHeader">

        <div fxLayout="row" fxLayoutAlign="space-between center" class="dialog-header w-100-p">
            <div class="page-header-4">
                {{data.headerTitle | translate}}
            </div>
            <div>
                <button (click)="close()" mat-icon-button>
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    </ng-container>
    <ng-container class="body" [ngTemplateOutlet]="data.body"></ng-container>

    <footer>

    </footer>
</div>