@import "../../../../styles/themes/custom-palette.scss";
@import "../../../../styles/utils/variables";
@import "../../../../styles/shared/page-header.scss";
@import "../../../../styles/utils/spacing";
@import "../../../../styles/utils/singletone";

.my-profile {
	width: 100%;
	height: 100%;
	padding: 24px;

	.profile-pic {
		border-radius: 50%;
	}
}
:host {
	height: 100%;
}
