@import "../../../styles/themes/custom-palette.scss";
@import "../../../styles/utils/variables";
@import "../../../styles/shared/page-header.scss";
@import "../../../styles/utils/spacing";

.main-container {
	height: 100%;
	width: 100%;

	.app-toolbar {
		position: sticky;
		position: -webkit-sticky;
		top: 0;
		z-index: 1000;
		.logo-container {
			width: 225px;
		}
	}

	.active {
		background-color: map-get($mat-bs-primary, 500) !important;
		color: white !important;
	}

	.side-nav {
		//min-width: 200px;
		width: 250px;
		box-sizing: border-box;
		min-height: 100vh !important;
		position: fixed;
		top: 60px;
		overflow-y: scroll;
		//position: sticky;
		// &:hover{
		// 	overflow-y: scroll;
		// }
		& ::-webkit-scrollbar {
			width: 6px;
		}

		background-color: white;

		.module-btn {
			width: 250px;
			margin-left: -40px;
			border-radius: 30px;
			font-size: medium;
			font-weight: bold;
			padding: 4px 0px 4px 0px;
		}
	}
}
:host {
	height: 100%;
}

:host ::ng-deep {
	.mat-drawer-content {
		min-height: 100vh;
	}
	.mat-drawer-container {
		background-color: map-get($mat-bs-accent, 50) !important;
	}
}
