<div class="main-container">
	<mat-toolbar class="app-toolbar" style="position: sticky" *ngIf="!hideToolBar" color="primary">

		<div class="w-100-p" fxLayout="row" fxLayoutAlign="space-between center">

			<div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
				
				
					<img  fxShow.gt-sm fxHide.lt-md  height="50" width="100" *ngIf="isSideNavOpened"
					src="../../../assets/images/shifa-bd-logo.jpeg" alt="">

					<img  fxShow.sm fxHide.xs fxHide.gt-sm  height="48" width="96"   *ngIf="isSideNavOpened"
					src="../../../assets/images/shifa-bd-logo.jpeg" alt="">

					<img  fxShow.xs  fxHide.gt-xs  height="32" width="64"   *ngIf="isSideNavOpened"
					src="../../../assets/images/shifa-bd-logo.jpeg" alt="">
				
					<button *ngIf="!hideSideNavigation" mat-icon-button (click)="toggleDrawer()"
					aria-label="Example icon-button with menu icon">
					<mat-icon>menu</mat-icon>
				</button>
				
			</div>
			<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap.xs="4px" fxLayoutGap.gt-xs="8px">
				<div *ngIf="user">
					<button mat-button [matMenuTriggerFor]="myProfileMenu">

						<img *ngIf="user.profileImageId" style="margin-top: -4px;" height="32" width="32"
							[src]="user.profileImageId | base64String |async">

						<img style="margin-top: -4px;" height="32" width="32" *ngIf="!user.profileImageId"
							src="../../../assets/images/user.png" alt="">
						<span fxHide.xs>
							{{ user.firstName | displayName: user.lastName }}
						</span>

					</button>
					<mat-menu #myProfileMenu="matMenu">
						<div fxLayoutAlign="start start" fxLayout="column" fxLayoutGap="8px">

							<ng-container>
								<button class="w-100-p" (click)="goToMyProfile()" mat-button>
									<mat-icon>account_circle</mat-icon>
									My profile
								</button>
							</ng-container>
							<ng-container>
								<button class="w-100-p" mat-button (click)="onLogout()">
									<mat-icon>logout</mat-icon>
									Log out
								</button>
							</ng-container>
						</div>
					</mat-menu>
				</div>

				<div>
					<button mat-button [matMenuTriggerFor]="menu">
						<mat-icon style="margin-top: -4px" fontIcon="language"></mat-icon>
						<span>
							{{
							selectedLanguageValue | portalLanguage | translate
							}}</span>
					</button>
					<mat-menu #menu="matMenu">
						<ng-container *ngFor="let lang of portalLanguages">
							<button (click)="setPortalLanguage(lang)" mat-menu-item>
								{{ lang.Key | translate }}
							</button>
						</ng-container>
					</mat-menu>
				</div>
			</div>
		</div>
	</mat-toolbar>

	<mat-drawer-container fxFlexFill>
		<mat-drawer *ngIf="!hideToolBar && !hideSideNavigation" #drawer class="side-nav" [mode]="drawerMode"
			[opened]="isDrawerOpened" (openedChange)="onDrawerOpenStatusChange($event)" >
			<mat-list fxLayout="column" fxLayoutGap="8px" role="list">
				<mat-list-item class="w-100-p" *ngFor="let navigation of navigations">
					<a [routerLink]="navigation.url">
						<button routerLinkActive="active" color="primary" class="module-btn" mat-button>
							<div fxLayoutGap="8px" style="margin-left: 40px" fxLayout="row"
								fxLayoutAlign="start center">
								<mat-icon style="margin-top: -4px" *ngIf="navigation?.icon">{{ navigation.icon }}
								</mat-icon>

								<span>{{
									navigation.translate | translate
									}}</span>
							</div>
						</button>
					</a>
				</mat-list-item>
			</mat-list>
		</mat-drawer>
		<mat-drawer-content>
			<ng-content></ng-content>
		</mat-drawer-content>
	</mat-drawer-container>
</div>